.navEj{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:1000;
    &__menuOptions{
        @media (--tablet-portrait-963){
            display: none;
        }
    }
    &__hamburger{
        display: none;
        @media (--tablet-portrait-963){
            display: block;
        }
        &__image{
            width: 32px;
            height: 24px;
        }
    }
    &__itemMenuSelected{
        color:var(--grayHover);
    }
}