.Main{
	&__newFounder{
		margin:  24px auto;
		display:flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&__searchYoung{
			width:50%;
			&__submitSearch{
				display:flex;
				justify-content: center;
				flex-direction:column-reverse;
				&__search{
					width:50%;
					margin: 4px auto;
					background-color: var(--primaryColor);
					&:hover{
						color: var(--yellowPrimaryColor);
						background-color: #9e1813;

					}       
					&:focus{
						color: var(--yellowPrimaryColor);
						background-color: #9e1813;

					}    
					@media (--tablet-portrait){
						width:100%;

					}
				}
			}
		}
		&__youngSelected {
			width: 50%;
			height: 100px;
			border: 1px solid #BDBDBD;
			border-radius: 3px;
			box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
		}
	}
	&__searchModal{
		margin-top: 24px;
		& > ul {
			margin-left: 0px;
			list-style-type: none; 
			margin-bottom: 0px;
		}
		&__noFound {
			display: flex;
			flex-direction: column;
			padding-top: 16px;
			padding-right: 28px;
		}
		&__item{
			display: flex;
			flex-direction: column;
			padding-top: 16px;
			padding-right: 28px;
			cursor: pointer;
			&:focus{
				color: #E0E0E0;
				box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
				border-radius: 3px;
			}
			&:hover{
				background-color: #E0E0E0;
				box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
				border-radius: 3px;

			}    
			&__fullname {
				font-size: 24px;
				color: black;
				font-family: system-ui;
				
			}     
			&__email {
				font-size: 14px;
				color: #757575;
				
			}     
			
		}
	}
}