.navEj{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:1000;
    & .dropdown.menu .is-active > a{
        color:var(--yellowPrimaryColor);
    }
    & .dropdown.menu > li.is-dropdown-submenu-parent> a::after{
        border-color: white transparent;
    }
    & .dropdown.menu > li.is-dropdown-submenu-parent.is-active > a::after{
        border-color: var(--yellowPrimaryColor) transparent;
    }
    &__menuOptions{
        & a{
            color: white;
        }
        & a:hover{
           color: var(--yellowPrimaryColor);
        }
        @media (--tablet-portrait-963){
            display: none;
        }
    }
    &__hamburger{
        display: none;
        @media (--tablet-portrait-963){
            position: absolute;
            top: 13px;
            right: 13px;
            display: block;
        }
        &__image{
            width: 32px;
            height: 24px;
        }
    }
    &__itemMenuSelected{
        color:var(--yellowPrimaryColor) !important;
    }
}
.menuSlide{
    display: none;
    @media (--tablet-portrait-963){
        display: flex;
        width: 0%;
        position: absolute;
        right: -100%;
        top:-30px;
        bottom: -50%;
        z-index: 100;
        background: var(--yellowTransparent);
        align-items:center;
        font-size: 32px;
        transition: 300ms;
        overflow-y:auto;
    }
    @media (--smart-landscape){
        bottom: -70%;
    }
    
    &--active{
        right: 0;
        width: 100%;
    }
    &__content{
        width: 100%;
        margin: auto 10%;
        @media (--smart-landscape){
            margin: auto 5%;            
            width: 90%;
        }
        &__listItem{
            @media (--tablet-portrait-963){
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                
            }
            &__myProfile{
                transition: 300ms;                
            }
            &__logout{
                transition: 300ms;
            }
            &__item--active{
                display: none;
            }
            & li{
                border-bottom: 1px solid black;
            }
            & a{
                color: black;
                cursor: pointer;
                @media (--smart-landscape){
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

        }

    }
}