@import "foundation.css";
@import "inscription.css";
@import "override-foundation.css";
@import "datatable.net.css";
@import "fds-list.css";
@import "login.css";
@import "../js/react-components/nav/nav.css";
@import "../js/react-components/pages/inscriptions-list/index.css";
@import "../js/react-components/pages/inscriptionDetail/index.css";
@import "../js/react-components/ResultsTemplate/index.css";
:root{
    --primaryColor:#CD2B26;
    --grayHover:#D5D5D5;
}
.Main{
    width: 80%;
    margin: 2px auto;
}