.navFds{
    &__itemMenuSelected{
        color:var(--grayHover);
    }
}
.listFds{
    &__actions{
        display:flex;
        flex-direction:row;

        &__new{
            text-align:left;
            flex-grow:1;

        }
        &__search{
            text-align:right;
            display:flex;
            flex-direction:row;
            flex-grow:1;
            & input{
                width: 100%;
            }

        }
    }

}
    