//navFds will become deprecaded
.navFds{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:1000;
    &__itemMenuSelected{
        color:var(--grayHover);
    }
}
.listFds{
    margin-top:8%;
    @media (--smart-landscape-640){
        margin-top:16%;
    }
    @media (--smart-landscape){
        margin-top:24%;
    }
    &__table{
        width: 100%;
    }
    &__actions{
        &__new{
            margin-left: 8px;
            @media (--smart-landscape-640){
                margin-left: 0px;
                width: 100%;
            }
        }
    }
    &__menuAction li:hover{
        background-color:var(--grayHover);
    }
    &__menuAction a{
        color: black;
    }
    &__menuAction a:hover{
        color: black;
    }
}

.dataTables_wrapper .dataTables_filter input{
    @media (--smart-landscape-640){
        margin-left: 0px;
    }
}
    