.Main{
    &__currentDate{
        width: 30%;
        @media (--desktop){
        width: 100%;
        }

    }
    &__personal{
        padding-top: 24px;

        &__names{
            display: flex;
            flex-direction: row;
            @media (--desktop){
                flex-direction: column;

            }
            &__name{
                flex-grow: 1;
                margin-right: 8px;
                @media (--desktop){
                    margin-right: 0px;
                }

            }
            &__lastName{
                flex-grow: 1;
                margin-left: 8px;
                margin-right: 8px;
                @media (--desktop){
                    margin-left: 0px;
                    margin-right: 0px;

                }

            }
            &__dateBorn{
                flex-grow: 1;
                margin-left: 8px;
                @media (--desktop){
                    margin-left: 0px;

                }

            }
        }
        &__numbers{
            display: flex;
            flex-direction: row;
            @media (--desktop){
                flex-direction: column;

            }
            &__homePhone{
                flex-grow: 1;
                margin-right: 8px;
                @media (--desktop){
                    margin-right: 0px;
                }
            }
            &__mobilePhone{
                flex-grow: 1;
                margin-left: 8px;
                margin-right: 8px;
                @media (--desktop){
                    margin-left: 0px;
                    margin-right: 0px;

                }
            }
            &__address{
                flex-grow: 1;
                margin-left: 8px;
                @media (--desktop){
                    margin-left: 0px;
                }
            }
        }
        &__addresses{
            display: flex;
            flex-direction: row;
            @media (--desktop){
                flex-direction: column;
            }
            &__email{
                flex-grow: 1;
                margin-right: 8px;
                @media (--desktop){
                    margin-right: 0px;
                }
            }
            &__profesion{
                flex-grow: 1;
                margin-left: 8px;
                margin-right: 8px;
                @media (--desktop){
                    margin-left: 0px;
                    margin-right: 0px;

                }
            }
            &__occupation{
                flex-grow: 1;
                margin-left: 8px;
                @media (--desktop){
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
        &__whoLife{           
            &__Check{
                display: flex;
                flex-direction: row;
                &__lifeWithGran{
                    flex-grow: 1;
                }
                &__lifeWithGarent{
                    flex-grow: 1;
                }
                &__lifeWithOnlyMother{
                    flex-grow: 1;
                }
                &__lifeWithOnlyFather{
                    flex-grow: 1;
                }
                &__lifeWithUncles{
                    flex-grow: 1;
                }
                &__lifeWithFriends{
                    flex-grow: 1;
                }
                &__lifeWithCousins{
                    flex-grow: 1;
                }
                &__lifeWithBrothers{
                    flex-grow: 1;
                }
                &__lifeWithAlone{
                    flex-grow: 1;
                }
            }

        }
    }
    &__university{
       
        &__data{
            display:flex;
            flex-direction:row;
            @media (--desktop){
                flex-direction: column;
            }
            &__carrer{
                flex-grow:1;
                margin-right:8px;
                @media (--desktop){
                    margin-right: 0px;
                }
            }
            &__whereStudy{
                flex-grow:1;
                margin-left:8px;
                @media (--desktop){
                    margin-left: 0px;
                }
            }
        }
    }
    &__work{
        
        &__data{
            display:flex;
            flex-direction:row;
             @media (--desktop){
                flex-direction: column;

            }
            &__company{
                flex-grow:1;
                margin-right:8px;
                @media (--desktop){
                    margin-right: 0px;
                }
            }
            &__role{
                flex-grow:1;
                margin-left:8px;
                margin-right:8px;
                @media (--desktop){
                    margin-left: 0px;
                    margin-right: 0px;

                }
            }
            &__phone{
                flex-grow:1;
                margin-left:8px;
                 @media (--desktop){
                    margin-left: 0px;
                }
            }
        }
    }
    &__family{
        &__dad{
            &__data{
                &__one{
                    display:flex;
                    flex-direction:row;
                    @media (--desktop){
                        flex-direction: column;
                    }
                    &__names{
                        flex-grow:1;
                        margin-right:8px;
                        @media (--desktop){
                            margin-right: 0px;
                        }
                    }
                    &__ocupation{
                        flex-grow:1;
                        margin-left:8px;
                        @media (--desktop){
                            margin-left: 0px;
                        }
                    }
                }
                &__two{
                    display:flex;
                    flex-direction:row;
                    @media (--desktop){
                        flex-direction: column;
                    }
                    &__phoneHome{
                        flex-grow:1;
                        margin-right:8px;
                        @media (--desktop){
                            margin-right: 0px;
                        }
                    }
                    &__phone{
                        flex-grow:1;
                        margin-right:8px;
                        margin-left:8px;
                        @media (--desktop){
                            margin-right: 0px;
                            margin-left: 0px;
                        }
                    }
                    &__address{
                        flex-grow:1;
                        margin-left:8px;
                        @media (--desktop){
                            margin-left: 0px;
                        }
                    }
                }
            }
        
        }
        &__mom{
            &__data{
                &__one{
                    display:flex;
                    flex-direction:row;
                    @media (--desktop){
                        flex-direction: column;
                    }
                    &__names{
                        flex-grow:1;
                        margin-right:8px;
                        @media (--desktop){
                            margin-right: 0px;
                        }
                    }
                    &__ocupation{
                        flex-grow:1;
                        margin-left:8px;
                        @media (--desktop){
                            margin-left: 0px;
                        }
                    }
                }
                &__two{
                    display:flex;
                    flex-direction:row;
                    @media (--desktop){
                        flex-direction: column;
                    }
                    &__phoneHome{
                        flex-grow:1;
                        margin-right:8px;
                        @media (--desktop){
                            margin-right: 0px;
                        }
                        
                    }
                    &__phone{
                        flex-grow:1;
                        margin-right:8px;
                        margin-left:8px;
                        @media (--desktop){
                            margin-right: 0px;
                            margin-left: 0px;
                        }
                    }
                    &__address{
                        flex-grow:1;
                        margin-left:8px;
                        @media (--desktop){
                            margin-left: 0px;
                        }
                    }
                }
            }
        
        }
        &__brothers{
            &__data{
                display:flex;
                flex-direction:row;
                &__names{
                    flex-grow:1;
                    margin-left:8px;

                }
                &__date{
                    flex-grow:1;
                    margin-left:8px;
                    margin-right:8px;

                }
                &__phone{
                    flex-grow:1;
                    margin-left:8px;
                    margin-right:8px;

                }
                &__email{
                    flex-grow:1;
                    margin-left:8px;
                    margin-right:8px;

                }
                &__relations{
                    flex-grow:1;
                    margin-left:8px;
                    margin-right:8px;
                    margin-top: 24px;
                    width:16%;
                }
                &__save{
                    flex-grow:1;
                    margin-right:8px;
                    margin-top: 24px;

                }
            }  
        }
    }
    &__generalInfo{
        &__data{
            &__one{
                display:flex;
                flex-direction: row;
                &__whoIntiveMe{
                    flex-grow:3;
                    margin-right:8px;
                }
                &__whoIntiveMeNumber{
                    flex-grow:1;
                    margin-left:8px;
                }
            }
        }

    }
    &__contentActions{
        display:flex;
        justify-content: center;
        flex-direction:column-reverse;
        &__register{
            width:50%;
            margin: 4px auto;
        }
        &__error{
            width:50%;
            margin: 4px auto;
        }
    }
}