.Main{
    width: 70%;
    margin: 2px auto;
    &__personal{
        padding-top: 24px;

        &__names{
            display: flex;
            flex-direction: row;
            &__name{
                flex-grow: 1;
                margin-right: 8px;

            }
            &__lastName{
                flex-grow: 1;
                margin-left: 8px;
                margin-right: 8px;

            }
            &__dateBorn{
                flex-grow: 1;
                margin-left: 8px;

            }
        }
        &__addresses{
            display: flex;
            flex-direction: row;
            &__address{
                flex-grow: 1;
                margin-right: 8px;

            }
            &__email{
                flex-grow: 1;
                margin-left: 8px;
            }
        }
        &__Numbers{
            display: flex;
            flex-direction: row;
            &__homePhone{
                flex-grow: 1;
                margin-right: 8px;

            }
            &__mobilePhone{
                flex-grow: 1;
                margin-left: 8px;

            }
        }
        &__whoLife{           
            &__Check{
                display: flex;
                flex-direction: row;
                &__lifeWithGran{
                    flex-grow: 1;
                }
                &__lifeWithGarent{
                    flex-grow: 1;
                }
                &__lifeWithOnlyMother{
                    flex-grow: 1;
                }
                &__lifeWithOnlyFather{
                    flex-grow: 1;
                }
                &__lifeWithUncles{
                    flex-grow: 1;
                }
                &__lifeWithFriends{
                    flex-grow: 1;
                }
                &__lifeWithCousins{
                    flex-grow: 1;
                }
                &__lifeWithBrothers{
                    flex-grow: 1;
                }
                &__lifeWithAlone{
                    flex-grow: 1;
                }
            }

        }
    }
    &__university{
        &__question{

        }
        &__data{
            display:flex;
            flex-direction:row;
            &__carrer{
                flex-grow:1;
                margin-right:8px;
            }
            &__whereStudy{
                flex-grow:1;
                margin-left:8px;
            }
        }
    }
    &__work{
        &__question{

        }
        &__data{
            display:flex;
            flex-direction:row;
            &__company{
                flex-grow:1;
                margin-right:8px;
            }
            &__role{
                flex-grow:1;
                margin-left:8px;
                margin-right:8px;
            }
            &__phone{
                flex-grow:1;
                margin-left:8px;
            }
        }
    }
    &__family{
        &__dad{
            &__data{
                &__one{
                    display:flex;
                    flex-direction:row;
                    &__names{
                        flex-grow:1;
                        margin-right:8px;
                    }
                    &__ocupation{
                        flex-grow:1;
                        margin-left:8px;
                    }
                }
                &__two{
                    display:flex;
                    flex-direction:row;
                    &__phoneHome{
                        flex-grow:1;
                        margin-right:8px;
                    }
                    &__phone{
                        flex-grow:1;
                        margin-right:8px;
                        margin-left:8px;
                    }
                    &__address{
                        flex-grow:1;
                        margin-left:8px;
                    }
                }
            }
        
        }
        &__mom{
            &__data{
                &__one{
                    display:flex;
                    flex-direction:row;
                    &__names{
                        flex-grow:1;
                        margin-right:8px;
                    }
                    &__ocupation{
                        flex-grow:1;
                        margin-left:8px;
                    }
                }
                &__two{
                    display:flex;
                    flex-direction:row;
                    &__phoneHome{
                        flex-grow:1;
                        margin-right:8px;
                    }
                    &__phone{
                        flex-grow:1;
                        margin-right:8px;
                        margin-left:8px;
                    }
                    &__address{
                        flex-grow:1;
                        margin-left:8px;
                    }
                }
            }
        
        }
    }


}