.Main{
    width: 70%;
    margin: 2px auto;
}
    .Personal{
        padding-top: 24px;

    }
        .Personal-Names{
            display: flex;
            flex-direction: row;
        }
            .Personal-Name{
                flex-grow: 1;
                margin-right: 8px;

            }
            .Personal-Last-Name{
                flex-grow: 1;
                margin-left: 8px;
                margin-right: 8px;

            }
            .Personal-Date-Born{
                flex-grow: 1;
                margin-left: 8px;

            }
        .Personal-Addresses{
            display: flex;
            flex-direction: row;
        }
            .Personal-Address{
                flex-grow: 1;
                margin-right: 8px;

            }
            .Personal-Email{
                flex-grow: 1;
                margin-left: 8px;
            }
        .Personal-Numbers{
            display: flex;
            flex-direction: row;
        }
            .Personal-HomePhone{
                flex-grow: 1;
                margin-right: 8px;

            }
            .Personal-MobilePhone{
                flex-grow: 1;
                margin-left: 8px;

            }
        .Personal-Who-Life{           

        }
            .Personal-Who-Life-Check{
                display: flex;
                flex-direction: row;
            }
                .life_with_gran{
                    flex-grow: 1;
                }
                .life_with_parent{
                    flex-grow: 1;
                }
                .life_with_only_mother{
                    flex-grow: 1;
                }
                .life_with_only_father{
                    flex-grow: 1;
                }
                .life_with_uncles{
                    flex-grow: 1;
                }
                .life_with_friends{
                    flex-grow: 1;
                }
                .life_with_cousins{
                    flex-grow: 1;
                }
                .life_with_brothers{
                    flex-grow: 1;
                }
                .life_with_alone{
                    flex-grow: 1;
                }

