.Main{
    width: 70%;
    margin: 2px auto;
}
    .Section-Personal-Data{
        padding-top: 24px;

    }
        .Section-Personal-Data-Names{
            display: flex;
            flex-direction: row;
        }
            .Section-Personal-Data-Name{
                flex-grow: 1;
                margin-right: 8px;

            }
            .Section-Personal-Data-Last-Name{
                flex-grow: 1;
                margin-left: 8px;
                margin-right: 8px;

            }
            .Section-Personal-Data-Date-Born{
                flex-grow: 1;
                margin-left: 8px;

            }
        .Section-Personal-Data-Addresses{
            display: flex;
            flex-direction: row;
        }
            .Section-Personal-Data-Address{
                flex-grow: 1;
                margin-right: 8px;

            }
            .Section-Personal-Data-Email{
                flex-grow: 1;
                margin-left: 8px;
            }
        .Section-Personal-Data-Numbers{
            display: flex;
            flex-direction: row;
        }
            .Section-Personal-Data-HomePhone{
                flex-grow: 1;
                margin-right: 8px;

            }
            .Section-Personal-Data-MobilePhone{
                flex-grow: 1;
                margin-left: 8px;

            }
        .Section-Personal-Data-Who-Life{           

        }
            .Section-Personal-Data-Who-Life-Check{
                display: flex;
                flex-direction: row;
            }
                .life_with_gran{
                    flex-grow: 1;

                }
                .life_with_parent{
                    flex-grow: 1;
                    
                }
                .life_with_only_mother{
                    flex-grow: 1;
                    
                }
                .life_with_only_father{
                    flex-grow: 1;
                    
                }
                .life_with_uncles{
                    flex-grow: 1;
                    
                }
                .life_with_friends{
                    flex-grow: 1;
                    
                }
                .life_with_cousins{
                    flex-grow: 1;
                    
                }
                .life_with_brothers{
                    flex-grow: 1;
                    
                }
                .life_with_alone{
                    flex-grow: 1;
                    
                }

