<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/app.bundle.css' %}" >
        <title>Lista de FDS</title>
    </head>
    <body>
        <nav class="navFds">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li class="menu-text">Site Title</li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Asitencia</a></li>
                        <li><a href="#">Talleres</a></li>
                        <li><a class="navFds__itemMenuSelected"href="#">FDS</a></li>
                        <li><a href="#">Profundos</a></li>
                        <li><a href="#">Consejeros</a></li>
                        <li>
                            <a href="#">mail@ejapp.com</a>
                            <ul class="menu vertical">
                                <li><a href="#">Perfil</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="Main">
            <section class="listFds">
                <h2>Fines de semana</h2>
                <table id="listFdsTable">
                    <thead>
                        <tr>
                            <th>Numero FDS</th>
                            <th>Nombre</th>
                            <th>Inicia</th>
                            <th>Termina</th>
                            <th>Inscripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fds in fdsList %}
                            <tr id="listFdsTableRow{{fds.id}}">
                                <td>FDS {{fds.number_fds}}</td>
                                <td>{{fds.name}}</td>
                                <td>{{fds.date_start|date:"M d, Y"}}</td>
                                <td>{{fds.date_end|date:"M d, Y"}}</td>
                                {% if fds.is_form_active%}
                                <td><span class="label success">Habilitado</span></td>
                                {%else%}
                                <td><span class="label secondary">Deshabilitado</span></td>
                                {%endif%}
                                <td>
                                    <ul class="dropdown menu" data-dropdown-menu>
                                        <li>
                                            <a>Mas</a>
                                            <ul data-row-id="{{fds.id}}" data-row-numberfds="{{fds.number_fds}}" 
                                            data-row-name="{{fds.name}}" data-row-datestart ="{{fds.date_start|date:'Y-m-d'}}"
                                            data-row-dateend ="{{fds.date_end|date:'Y-m-d'}}" class="menu vertical listFds__menuAction">
                                                <li class="listFds__menuAction__edit"><a>Editar Fds</a></li>
                                                <li class="listFds__menuAction__delete"><a>Eliminar Fds</a></li>
                                                {% if fds.is_form_active%}
                                                    <li class="listFds__menuAction__disable"><a>Deshabilitar inscripción</a></li>
                                                {%else%}
                                                    <li class="listFds__menuAction__enable"><a>Habilitar inscripción</a></li>
                                                {%endif%}
                                            </ul>
                                        </li>
                                    </ul>
                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <div class="reveal" id="newFdsModal" data-reveal>
                <h1>Nuevo Fds.</h1>
                <form id="postNewFds" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="method" value="POST">
                    <label>Nombre de la temática
                        <input type="text" name="name_fds" placeholder="Nombre">
                    </label>
                    <label>Número de FDS
                        <input type="number" name="number_fds" placeholder="Consecutivo">
                    </label>
                    <label>Fecha de inicio
                        <input type="date" name="startdate_fds" placeholder="fecha">
                    </label>
                    <label>Fecha que finaliza
                        <input type="date"  name="enddate_fds" placeholder="fecha">
                    </label>
                    <button class="button" type="submit">Crear</button>
                </form>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="reveal" id="updateFdsModal" data-reveal>
                <h1>Modificar Fds.</h1>
                <form id="putNewFds" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="method" value="PUT">
                    <input type="hidden" name="id_fds">
                    <label>Nombre de la temática
                        <input type="text" name="name_fds" placeholder="Nombre">
                    </label>
                    <label>Número de FDS
                        <input type="number" name="number_fds" placeholder="Consecutivo">
                    </label>
                    <label>Fecha de inicio
                        <input type="date" name="startdate_fds" placeholder="fecha">
                    </label>
                    <label>Fecha que finaliza
                        <input type="date"  name="enddate_fds" placeholder="fecha">
                    </label>
                    <button class="button" type="submit">Actualizar</button>
                </form>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="reveal" id="copyUrlInscription" data-reveal>
                <h3>Enlace para la ficha de inscripción es:</h3>
                <label>Copia este enlace y compartelo con los participantes para que se puedan inscribir al FDS.
                    <input type="url" name="urlInscription">
                </label>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="reveal" id="deleteFds" data-reveal>
                <h1>Eliminar</h1>
                <div id="deleteFds_content"> </div>
                <button type="button" class="button" name="delete_fds">Eliminar</button>
                <button type="button" class="button" name="cancel_delete" data-close aria-label="Close modal">Cancelar</button>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <script src="{% static 'js/app.bundle.js' %}"></script>
    </body>
</html>