<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <title>Ficha de inscripción</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/inscription.css' %}" >
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
    </head>
    <body>
        <div class="Main container">
            <h1>Ficha de Inscripción</h1>
            <form>                              
              <div class="container">
                   <div class="row">
                        <div class="form-group col-md-3">
                            <label for="date-inscription">Fecha insripción</label>
                            <input type="date" class="form-control" id="date-inscription" placeholder="Fecha insripción" disabled>
                        </div>
                   </div>
                   <div class="row">
                        <div class="form-group col-md-4">
                            <label for="first-name">Nombres</label>
                            <input type="text" class="form-control" id="first-name" placeholder="Nombres">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="last-name">Apellidos</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Apellidos">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="date-born">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="date-born" placeholder="Fecha de nacimiento">
                        </div>
                   </div>               
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="number-home">Telefono</label>
                            <input type="tel" class="form-control" id="number-home" placeholder="Telefono de la casa">
                        </div>
                         <div class="form-group col-md-2">
                            <label for="number-mobile">Telefono</label>
                            <input type="tel" class="form-control" id="number-mobile" placeholder="Telefono móvil">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" id="address" placeholder="Dirección">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="mail">Correo electrónico</label>
                            <input type="email" class="form-control" id="mail" placeholder="Correo electrónico">
                        </div>                
                    </div>
              </div>
                <div class="container Main-Study">                
                    <div class="Main-Study-Radios">
                        <span> ¿Estudias?</span>
                    
                        <label class="radio-inline">
                            <input type="radio" name="study" id="study-yes" value="true" checked>
                             sí
                            </label>
                    
                    
                        <label class="radio-inline">
                            <input type="radio" name="study" id="study-no" value="false">
                             No
                        </label>
                    
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label for="career">Carrera</label>
                            <input type="text" class="form-control" id="career" placeholder="Carrera">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="institute">Instituto</label>
                            <input type="text" class="form-control" id="institute" placeholder="Instituto">
                        </div>                
                    </div>
                </div>
                <div class="container Main-Job">                
                    <div  class="Main-Job-Radios">
                        <span> ¿Trabajas?</span>
                    
                        <label class="radio-inline">
                            <input type="radio" name="job" id="job-yes" value="true" checked> sí
                        </label>
                    
                    
                        <label class="radio-inline">
                            <input type="radio" name="job" id="job-no" value="false"> No
                        </label>
                    
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-4">
                            <label for="company">Empresa</label>
                            <input type="text" class="form-control" id="company" placeholder="Empresa">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="role">Cargo</label>
                            <input type="text" class="form-control" id="role" placeholder="Cargo">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="phone-company">Teléfono</label>
                            <input type="tel" class="form-control" id="phone-company" placeholder="Telefono de la empresa">
                        </div>                
                    </div>
                </div>
                <div class="container">
                    <h2>Datos de tu Papá</h2>                
                    <div  class="Main-Father-Radios">
                        <span> ¿Aún vive?</span>
                    
                        <label class="radio-inline">
                            <input type="radio" name="dad" id="dad-yes" value="true" checked> sí
                        </label>
                    
                    
                        <label class="radio-inline">
                            <input type="radio" name="dad" id="dad-no" value="false"> No
                        </label>
                    
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-8">
                            <label for="name-dad">Nombre completo</label>
                            <input type="text" class="form-control" id="name-dad" placeholder="Nombres y apellidos de tu papá">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ocupation-dad">Ocupación</label>
                            <input type="text" class="form-control" id="ocupation-dad" placeholder="¿A que se dedica tu papá?">
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-3">
                            <label for="phone-dad">Teléfono</label>
                            <input type="tel" class="form-control" id="phone-dad" placeholder="Telefono de la casa">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="mobile-dad">Número Celular</label>
                            <input type="tel" class="form-control" id="mobile-dad" placeholder="Número Celular">
                        </div>
                       <div class="form-group col-md-6">
                            <label for="address-dad">Dirección</label>
                            <input type="text" class="form-control" id="address-dad" placeholder="Dirección de la casa donde vive tu papá">
                        </div>
                        
                
                    </div>
                </div>
                <div class="container">
                    <h2>Datos de tu mamá</h2>                
                    <div  class="Main-Father-Radios">
                        <span> ¿Aún vive?</span>
                    
                        <label class="radio-inline">
                            <input type="radio" name="mom" id="mom-yes" value="true" checked> sí
                        </label>
                    
                    
                        <label class="radio-inline">
                            <input type="radio" name="mom" id="mom-no" value="false"> No
                        </label>
                    
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-8">
                            <label for="name-mom">Nombre completo</label>
                            <input type="text" class="form-control" id="name-mom" placeholder="Nombres y apellidos de tu mamá">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ocupation-mom">Ocupación</label>
                            <input type="text" class="form-control" id="ocupation-mom" placeholder="¿A que se dedica tu mamá?">
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-3">
                            <label for="phone-mom">Teléfono</label>
                            <input type="tel" class="form-control" id="phone-mom" placeholder="Telefono de la casa">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="mobile-mom">Número Celular</label>
                            <input type="tel" class="form-control" id="mobile-mom" placeholder="Número Celular">
                        </div>
                       <div class="form-group col-md-6">
                            <label for="address-mom">Dirección</label>
                            <input type="text" class="form-control" id="address-mom" placeholder="Dirección de la casa donde vive tu mamá">
                        </div>
                        
                
                    </div>
                </div>
                <div class="container">
                    <h2>Datos de tus hermanos</h2>                
                    <div class="row col-md-12">
                        <div class="form-group col-md-3">
                            <label for="name-bro">Nombre completo</label>
                            <input type="text" class="form-control" id="name-bro" placeholder="Nombres y apellidos de tu hermano (a)">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="date-bro">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="date-bro" placeholder="¿Qué día nació tu hermano(a)?">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="phone-bro">celular</label>
                            <input type="tel" class="form-control" id="phone-bro" placeholder="Número de celular de tu hermano(a)">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="email-bro">Correo</label>
                            <input type="email" class="form-control" id="email-bro" placeholder="Correo electrónico de tu hermano(a)">
                        </div>
                        <div class="col-md-1 Main-Bro-Add">
                            <button type="button" class="btn btn-success">Aregar</button>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombres y apellidos</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Celular</th>
                                    <th>Correo electrónico</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr>
                                    <td>Nombres y apellidos</td>
                                    <td>Fecha de nacimiento</td>
                                    <td>Celular</td>
                                    <td>Correo electrónico</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <h2>¿Con quién vives?</h2>
                    <div class="row col-md-12">
                        
                        <label class="checkbox-inline">
                            <input type="checkbox"> Abuelos
                        </label>                
                    
                        <label class="checkbox-inline">
                            <input type="checkbox"> Padres
                        </label>                    
                    
                        <label class="checkbox-inline">
                            <input type="checkbox"> Solo madre
                        </label>
                    
                        <label class="checkbox-inline">
                            <input type="checkbox"> Solo padre
                        </label>
                    
                        <label class="checkbox-inline">
                            <input type="checkbox"> Tios
                        </label>
                    
                        <label class="checkbox-inline">
                            <input type="checkbox"> Solo
                        </label>
                    
                        <label class="checkbox-inline">
                            <input type="checkbox"> Otros
                        </label>
                    
                    </div>
                </div>

                <div class="container">
                    <h4> Limitaciones de salud</h4>
                    <div class="form-group col-md-12">
                        <label for="illness">Enfermedades</label>
                        <input type="text" class="form-control" id="illness" aria-describedby="help-block-text" placeholder="Dinos que enfermedades sufres">
                        <span id="help-block-text" class="help-block">Separa con una "," las enfermedades que sufres.</span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="illness">Alimentación especial</label>
                        <input type="text" class="form-control" id="illness" aria-describedby="help-block-text" placeholder="ingresa el nombre del alimento">
                        <span id="help-block-text" class="help-block">dejanos saber si eres vegetariano, o si tienes restricciones con algun alimento. Separa los alimentos por una coma ","</span>
                    </div>
                </div>
                <div class="container">
                    <h4>Datos generales</h4>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="who_intive_me">¿Quién te invitó al EJ?</label>
                            <input type="text" class="form-control" id="who_intive_me" placeholder="Nombre completo de quien te invitó">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="who_intive_me_number">Celular</label>
                            <input type="tel" class="form-control" id="who_intive_me_number" placeholder="Número celular de quién te invitó">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="why_fds">¿Por que quieres vivir FDS?</label>
                        <textarea type="text" class="form-control" id="why_fds" placeholder="Expresa tus opiniones" rows=3 aria-describedby="help-why_fds"></textarea>
                        <span id="help-why_fds" class="help-block">Tenemos curiosidad por ti, expresanos ¿Por que quieres vivir FDS?</span>
                    </div>
                </div>


            </form>
            
        </div>
       
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static 'js/inscription.js' %}"> </script>
    </body>
</html>