<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/app.bundle.css' %}" >
        <title>No found</title>
    </head>
    <body>
        <div class="Main">
            <section class="content__noFound">
                <h1>{{title}}</h1>
                <span>{{message}}</span>
            </section>
        </div>
        <script src="{% static 'js/common.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>