<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
     <title>Ficha de inscripción</title>
     <head>
         <!-- Compressed CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/inscrip.css' %}" >
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     </head>
     <body>
        <div class="Main">
            <form>
                <h1 class="text-center">Ficha de inscripción</h1>
                
                <label>Fecha de inscripción
                    <input type="date" placeholder="Fecha de inscripción">
                </label>                
                <section class="Personal">
                    <h2> Datos personales</h2>
                    <div class="Personal-Names">
                        <label class="Personal-Name">Nombres
                            <input type="text" placeholder="Nombres">
                        </label>
                        <label class="Personal-Last-Name">Apellidos
                            <input type="text" placeholder="Apellidos">
                        </label>
                        <label class="Personal-Date-Born">Fecha nacimiento
                            <input type="date" placeholder="Fecha de nacimiento">
                        </label>
                    </div>
                    <div class="Personal-Numbers">
                         <label class="Personal-HomePhone">Teléfono
                            <input type="tel" placeholder="Número telefónico de tu casa">
                        </label>
                        <label class="Personal-MobilePhone">Móvil
                            <input type="tel" placeholder="Número telefónico personal">
                        </label>
                    </div>
                    <div class="Personal-Addresses">
                        <label class="Personal-Address">Dirección
                            <input type="text" placeholder="Dirección de residencia">
                        </label>
                        <label class="Personal-Email">Correo electrónico
                            <input type="email" placeholder="Dirección de Correo electrónico">
                        </label>
                    </div>
                    <div class="Personal-Who-Life">
                        <fieldset class="fieldset">
                            <legend>¿Con quién vives?</legend>
                            <div class="Personal-Who-Life-Check">
                                
                                <div class="life_with_gran">
                                    <input id="life_with_gran" type="checkbox">
                                    Abuelos
                                </div>
                                
                                <div class="life_with_parent">
                                    <input id="life_with_parent" type="checkbox">
                                    Padres
                                </div>
                                
                                <div class="life_with_only_mother">
                                    <input id="life_with_only_mother" type="checkbox">
                                    Solo madre                                    
                                </div>
                                <div class="life_with_only_father">
                                    <input id="life_with_only_father" type="checkbox">
                                    Solo padre
                                </div>
                                
                                <div class="life_with_uncles">
                                    <input id="life_with_uncles" type="checkbox">
                                    Tíos
                                </div>
                                
                                <div class="life_with_friends">
                                    <input id="life_with_friends" type="checkbox">
                                    Amigos
                                </div>
                                
                                <div class="life_with_cousins">
                                    <input id="life_with_cousins" type="checkbox">
                                    Primos
                                </div>
                                
                                <div class="life_with_brothers">
                                    <input id="life_with_brothers" type="checkbox">
                                    Hermanos
                                </div>
                                
                                <div class="life_with_alone">
                                    <input id="life_with_alone" type="checkbox">
                                    Solo
                                </div>
                            </div>
                        </fieldset>
                    </div>                    
                </section>
                <section class="University">
                    <h2> Datos Unversitarios</h2>


                </section>
            </form>
        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
     </body>
</html>