<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
     <title>Ficha de inscripción</title>
     <head>
         <!-- Compressed CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/inscrip.css' %}" >
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     </head>
     <body>
        <div class="Main">
            <form>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Input Label
                            <input type="text" placeholder=".medium-6.columns">
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Input Label
                            <input type="text" placeholder=".medium-6.columns">
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
     </body>
</html>