<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
     <title>Ficha de inscripción</title>
     <head>
         <!-- Compressed CSS -->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />-->
        <link rel="stylesheet" href="{% static 'css/app.bundle.css' %}" >
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     </head>
     <body>
        <div class="Main">
            <form data-abide novalidate method="POST" id="formInscription">
                {% csrf_token %}
                <h1 class="text-center">Ficha de inscripción</h1>
                <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> Hay algunos errores en la inscripción.</p>
                </div>
                <label>Fecha de inscripción
                    <input class="Main__currentDate" type="date" name="current_date" placeholder="Fecha de inscripción" disabled >
                </label>                
                <section class="Main__personal">
                    <h2> Datos personales</h2>
                    <div class="Main__personal__gender">
                        <fieldset class="large-6 columns">
                            <legend>¿Género?</legend>
                            <input type="radio" name="gender" value="true" id="gender_male" required checked><label for="gender_male">Masculino</label>
                            <input type="radio" name="gender" value="false" id="gender_female"><label for="gender_female">Femenino</label>
                        </fieldset>
                    </div>
                    <div class="Main__personal__names">
                        <label class="Main__personal__names__name">Nombres
                            <input type="text" name="personal_names" placeholder="Nombres" required>
                            <span class="form-error">
                                Hace falta tus nombres.
                              </span>
                        </label>
                        <label class="Main__personal__names__lastName">Apellidos
                            <input type="text" name="personal_lastnames" placeholder="Apellidos" required>
                            <span class="form-error">
                                Hace falta tus apellidos.
                            </span>
                        </label>
                        <label class="Main__personal__names__dateBorn">Fecha nacimiento
                            <input type="date" name="personal_dateborn" placeholder="Fecha de nacimiento" required>
                            <span class="form-error">
                                Hace falta tu fecha de nacimiento.
                              </span>
                        </label>
                    </div>
                    <div class="Main__personal__numbers">
                         <label class="Main__personal__numbers__homePhone">Teléfono
                            <input type="tel" name="personal_homephone" placeholder="Número telefónico de tu casa">
                        </label>
                        <label class="Main__personal__numbers__mobilePhone">Móvil
                            <input type="tel" name="personal_mobilephone" placeholder="Número telefónico personal">
                        </label>
                        <label class="Main__personal__numbers__address">Dirección
                            <input type="text" name="personal_address" placeholder="Dirección de residencia">
                        </label>
                    </div>
                    <div class="Main__personal__addresses">
                        <label class="Main__personal__addresses__email">Correo electrónico
                            <input type="email" name="personal_email" placeholder="Dirección de Correo electrónico" required>
                            <span class="form-error">
                               Hace falta tu correo electrónico
                            </span>
                        </label>
                        <label class="Main__personal__addresses__profesion">Profesión
                            <input type="text" name="personal_preofession" placeholder="Profesión">
                        </label>
                        <label class="Main__personal__addresses__occupation">Ocupación
                            <input type="text" name="personal_occupation" placeholder="Ocupación">
                        </label>
                    </div>
                    <div class="Main__personal__whoLife">
                        <fieldset class="fieldset">
                            <legend>¿Con quién vives?</legend>
                            <div class="Main__personal__whoLife__check">
                                
                                <div class="Main__personal__whoLife__check__lifeWithGran">
                                    <input id="life_with_gran" type="checkbox">
                                    Abuelos
                                </div>
                                
                                <div class="Main__personal__whoLife__check__lifeWithParent">
                                    <input id="life_with_parent" type="checkbox">
                                    Padres
                                </div>
                                
                                <div class="Main__personal__whoLife__check__lifeWithOnlyMother">
                                    <input id="life_with_only_mother" type="checkbox">
                                    Solo madre                                    
                                </div>
                                <div class="Main__personal__whoLife__check__lifeWithOnlyFather">
                                    <input id="life_with_only_father" type="checkbox">
                                    Solo padre
                                </div>
                                
                                <div class="Main__personal__whoLife__check__lifeWithUncles">
                                    <input id="life_with_uncles" type="checkbox">
                                    Tíos
                                </div>
                                
                                <div class="Main__personal__whoLife__check__lifeWithFriends">
                                    <input id="life_with_friends" type="checkbox">
                                    Amigos
                                </div>
                                
                                <div class="Main__personal__whoLife__check__lifeWithCousins">
                                    <input id="life_with_cousins" type="checkbox">
                                    Primos
                                </div>
                                
                                <div class="Main__personal__whoLife__check__lifeWithBrothers">
                                    <input id="life_with_brothers" type="checkbox">
                                    Hermanos
                                </div>
                                
                                <div class="Main__personal__whoLife__check__lifeWithAlone">
                                    <input id="life_with_alone" type="checkbox">
                                    Solo
                                </div>
                            </div>
                        </fieldset>
                    </div>                    
                </section>
                <section class="Main__university">
                    <h2> Datos Unversitarios</h2>
                    <div class="Main__university__question">
                        <fieldset class="large-6 columns">
                            <legend>¿Estudias?</legend>
                            <input type="radio" name="study" value="true" id="study_yes" required checked><label for="study_yes">Sí</label>
                            <input type="radio" name="study" value="false" id="study_no"><label for="study_no">No</label>
                        </fieldset>

                    </div>
                    <div class="Main__university__data">
                        <label class="Main__university__data__carrer">Carrera
                            <input type="text" name="study_carrer" placeholder="¿Que carrera estudias?">
                        </label>
                        <label class="Main__university__data__whereStudy">Institución
                            <input type="text" name="study_where" placeholder="Nombre de (Universidad, Instituto, etc)">
                        </label>
                    </div>
                </section>
                <section class="Main__work">
                    <h2> Datos Laborares</h2>
                    <div class="Main__work__question">
                        <fieldset class="large-6 columns">
                            <legend>¿Trabajas?</legend>
                            <input type="radio" name="work" value="true" id="work_yes" required checked><label for="work_yes">Sí</label>
                            <input type="radio" name="work" value="false" id="work_no"><label for="work_no">No</label>
                        </fieldset>

                    </div>
                    <div class="Main__work__data">
                        <label class="Main__work__data__company">Empresa
                            <input type="text" name="work_company"placeholder="¿Nombre de la empresa o compañía?">
                        </label>
                        <label class="Main__work__data__role">Cargo
                            <input type="text" name="work_role"placeholder="Cargo que desenpeñas">
                        </label>
                        <label class="Main__work__data__phone">Teléfono
                            <input type="tel" name="work_phone"placeholder="Teléfono donde trabajas">
                        </label>
                    </div>
                </section>
                <section class="Main__family">
                    <h2> Datos Familiares</h2>
                    <div class="Main__family__dad">
                        <h4> Datos de tu papá</h4>
                        <div class="Main__family__dad__question">
                            <fieldset class="large-6 columns">
                                <legend>¿Aún vive?</legend>
                                <input type="radio" name="dad" value="true" id="dad_yes" required checked><label for="dad_yes">Sí</label>
                                <input type="radio" name="dad" value="false" id="dad_no"><label for="dad_no">No</label>
                            </fieldset>                        
                        </div>
                        <div class="Main__family__dad__data__one">
                            <label class="Main__family__dad__data__one__names">Nombre completo
                                <input type="text" name="dad_names" placeholder="Nombres y apellidos" required>
                                <span class="form-error">
                                    Hace falta el nombre de tu papá.
                                </span>
                            </label>
                            <label class="Main__family__dad__data__one__ocupation">Ocupación
                                <input type="text" name="dad_ocupation" placeholder="A que se dedica tu papá">
                            </label>
                        </div>
                        <div class="Main__family__dad__data__two">
                            <label class="Main__family__dad__data__two__phoneHome">Teléfono
                                <input type="tel" name="dad_phone_home" placeholder="# telefono de la casa">
                            </label>
                            <label class="Main__family__dad__data__two__phone">Teléfono celular
                                <input type="tel" name="dad_phone" placeholder="# telefono celular">
                            </label>
                            <label class="Main__family__dad__data__two__address">Dirección
                                <input type="text" name="dad_address" placeholder="Dirección donde vive tu papá">
                            </label>
                        </div>
                    </div>
                    <div class="Main__family__mom">
                        <h4> Datos de tu mamá</h4>
                        <div class="Main__family__mom__question">
                            <fieldset class="large-6 columns">
                                <legend>¿Aún vive?</legend>
                                <input type="radio" name="mom" value="true" id="mom_yes" required checked><label for="mom_yes">Sí</label>
                                <input type="radio" name="mom" value="false" id="mom_no"><label for="mom_no">No</label>
                            </fieldset>                        
                        </div>
                        <div class="Main__family__mom__data__one">
                            <label class="Main__family__mom__data__one__names">Nombre completo
                                <input type="text" name="mom_names" placeholder="Nombres y apellidos" required>
                                <span class="form-error">
                                    Hace falta el nombre de tu mamá.
                                </span>
                            </label>
                            <label class="Main__family__mom__data__one__ocupation">Ocupación
                                <input type="text" name="mom_ocupation" placeholder="A que se dedica tu mamá">
                            </label>
                        </div>
                        <div class="Main__family__mom__data__two">
                            <label class="Main__family__mom__data__two__phoneHome">Teléfono
                                <input type="tel" name="mom_phone_home" placeholder="# telefono de la casa">
                            </label>
                            <label class="Main__family__mom__data__two__phone">Teléfono celular
                                <input type="tel" name="mom_phone" placeholder="# telefono celular">
                            </label>
                            <label class="Main__family__mom__data__two__address">Dirección
                                <input type="text" name="mom_address" placeholder="Dirección donde vive tu mamá">
                            </label>
                        </div>
                    </div>
                    <div class="Main__family__brothers">
                        <h4> Datos de tus hermanos (as) /Primos (as)</h4>
                        <div class="Main__family__brothers__data">
                            <label class="Main__family__brothers__data__names">Nombre completo
                                <input type="text" name="data-brothers-names" placeholder="Nombres y apellidos">
                            </label>
                            <label class="Main__family__brothers__data__date">Fecha de nacimiento
                                <input type="date" name="data-brothers-date" placeholder="Que día nació?">
                            </label>
                            <label class="Main__family__brothers__data__phone">Telefono móvil
                                <input type="tel" name="data-brothers-phone" placeholder="# celular">
                            </label>
                            <label class="Main__family__brothers__data__email">Correo electrónico
                                <input type="email" name="data-brothers-email" placeholder="Correo">
                            </label>
                            <select name="relation" class="Main__family__brothers__data__relations">
                                {% for relation in relations %}
                                    <option value="{{relation.0}}">{{relation.1}}</option>
                                {% endfor %}
                            </select>
                            <button  id="brothersDataSave" type="button" class="Main__family__brothers__data__save button">Agregar</button>
                        </div>
                        <div class="Main__family__brothers__table">
                            <table id="listBroders">
                                <thead>
                                    <tr>
                                        <th>nombres</th>
                                        <th>Fecha nacimiento</th>
                                        <th>Teléfono</th>
                                        <th>Correo Electrónico</th>
                                        <th>Relación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </section>
                <section class="Main__health">
                    <h2>Limitaciones de salud</h2>
                    <label class="Main__health__illness">Enfermedades
                        <input type="text" name="health-illnes" placeholder="¿Sufres de alguna enfermedad en particular?">
                    </label>
                    <label class="Main__health__especialFood">Alimentación espacial
                        <input type="text" name="health-food" placeholder="¿Necesitas alimentarte de manera especial?">
                    </label>
                </section>
                <section class="Main__generalInfo">
                    <h2>Datos generales</h2>
                    <div class="Main__generalInfo__data__one">
                        <label class="Main__generalInfo__data__one__whoIntiveMe">¿Quien te invitó al EJ?
                            <input type="text" name="whoIntiveMe"placeholder="Nombre y apellido" required>
                            <span class="form-error">
                                Es importante que nos digas por quién fuiste invitado
                              </span>
                        </label>
                        <label class="Main__generalInfo__data__one__whoIntiveMeNumber">Teléfono móvil
                            <input type="tel" name="whoIntiveMeNumber" placeholder="# de celular de quien te invitó" required>
                            <span class="form-error">
                                Su número de teléfono también :)
                              </span>
                        </label>
                    </div>
                    <div class="Main__generalInfo__data__two">
                        <label class="Main__generalInfo__data__two__whyFds">¿Por que quieres vivir FDS?
                            <input type="text" name="whyFds"placeholder="Dejanos saber tu interes">
                        </label>
                    </div>
                    <div class="Main__generalInfo__data__three">
                        <h4>Aparte de vivir el fin de semana, ¿Te interesa pertenecer al encuentro juvenil Pereira?</h4>
                        <input type="radio" name="wantFds" value="true" id="wantFds_yes" required checked><label for="wantFds_yes">Sí</label>
                        <input type="radio" name="wantFds" value="false" id="wantFds_no"><label for="wantFds_no">No</label>
                    </div>
                    <div class="Main__generalInfo__data__four">
                        <h4>¿Has participado de alguna actividad de crecimiento personal, grupo o movimiento juvenil?</h4>
                        <input type="radio" name="otherExperiences" value="true" id="otherExperiences_yes"><label for="otherExperiences_yes">Sí</label>
                        <input type="radio" name="otherExperiences" value="false" id="otherExperiences_no"required checked><label for="otherExperiences_no">No</label>
                        <label class="Main__generalInfo__data__four__otherExperiences">Cuentanos ¿Cual?
                            <input type="text" name="otherExperiences-which" disabled>
                        </label>
                    </div>
                </section>
                <section class="Main__contentActions">
                    <button type="submit" value="Submit" class="Main__contentActions__register button">Agregar</button>
                    <div data-abide-error class="alert callout Main__contentActions__error" style="display: none;">
                        <p><i class="fi-alert"></i>Hay algunos campos que son obligatorios</p>
                    </div>
                </section>
            </form>
            <div class="reveal" id="messageResultInscription" data-reveal>
                <div id="messageResultInscriptionContent">
                </div>
                <button id="btnCloseReveal" class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <script src="{% static 'js/app.bundle.js' %}"></script>

     </body>
</html>