<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <title>Ficha de inscripción</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
    </head>
    <body>
        <div class="Main container">
            <h1>Ficha de Inscripción</h1>
            <form>                              
               <div class="row">
                    <div class="form-group col-md-4">
                        <label for="date-inscription">Fecha insripción</label>
                        <input type="date" class="form-control" id="date-inscription" placeholder="Fecha insripción" disabled>
                    </div>
               </div>
               <div class="row">
                    <div class="form-group col-md-4">
                        <label for="first-name">Nombres</label>
                        <input type="text" class="form-control" id="first-name" placeholder="Nombres">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="last-name">Apellidos</label>
                        <input type="text" class="form-control" id="last-name" placeholder="Apellidos">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="date-born">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="date-born" placeholder="Fecha de nacimiento">
                    </div>
               </div>               
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="number-home">Telefono</label>
                        <input type="tel" class="form-control" id="number-home" placeholder="Telefono de la casa">
                    </div>
                     <div class="form-group col-md-2">
                        <label for="number-mobile">Telefono</label>
                        <input type="tel" class="form-control" id="number-mobile" placeholder="Telefono móvil">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="address">Dirección</label>
                        <input type="text" class="form-control" id="address" placeholder="Dirección">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mail">Correo electrónico</label>
                    <input type="email" class="form-control" id="mail" placeholder="Correo electrónico">
                </div>                
            </form>
        </div>
       
    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <!--<script type="text/javascript" src="{% static 'js/inscription.js' %}"> </script>-->
    </body>
</html>